.App {
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-area {
  border: 1px solid red;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 50px / 80px;
  box-shadow: rgba(45, 35, 66, 0.2) 2px 3px 2px,rgba(45, 35, 66, 0.2) 1px 2px 1px,#2e2e323e 2px 3px 2px;
  box-sizing: border-box;
  background-color: rgb(255, 249, 249);
}

.act-scene-guess-box {
  display: flex;
  justify-content: space-around;
}

.synopsis-field {
  display: flex;
  justify-content: center;
  color: black;
}

.bot-buttons {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.top-buttons {
  display: flex;
  width:80%;
  justify-content: space-around;
}

.drop-button {
  border: 1px solid black;
  border-radius: 5px;
}

body {
  background: linear-gradient(-45deg, #ee765279, #e73c7e79, #23a5d579, #23d5ab79);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.board {
  align-items: center;
  appearance: none;
  background-color: #a1c5cb;
  border-radius: 50px / 80px;
  box-shadow: rgba(45, 35, 66, 0.4) 2px 3px 2px,rgba(45, 35, 66, 0.3) 1px 2px 1px,#2e2e323e 2px 3px 2px;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "JetBrains Mono",monospace;
  height: 70vh;
  justify-content: center;
}
